pygame # playing audio
yt-dlp # downloading audio
mutagen # audio metadata
Pillow # image processing
requests
pyinstaller # to bundle the app
# Additional notes:
# - tkinter is in pythons standard library i think
# - ffmpeg executable should be installed on the system and available in PATH
